@if (Model != null)
{
    if (Model == "1")
    {
        <span class="trangthai_taikhoan">Tài khoản đã tạm dừng</span>
    }
    else
    {
        <span class="trangthai_taikhoan">Tài khoản đã kích hoạt</span>
    }
}
