.home-banner {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0,0,0,0);
    background-origin: padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.highlight-1 {
    font-size: 1.55em;
    color: #fff;
    background: rgba(72, 69, 124, 0.76);
    border: 1px solid rgba(72, 69, 124, 0.76);
    line-height: 1.2em;
}

#form_timxe {
    margin-top: 19px;
    padding: 9px;
    margin-bottom: 20px;
    background: rgba(58, 70, 97, 0.58);
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

    #form_timxe > input {
        color: #fff;
    }

    #form_timxe > input, #form_timxe > select {
        background: transparent;
        margin-bottom: 5px;
    }
        /*reset placeholder default*/
        #form_timxe > input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #fff;
        }

        #form_timxe > input::-moz-placeholder { /* Firefox 19+ */
            color: #fff;
        }

        #form_timxe > input:-ms-input-placeholder { /* IE 10+ */
            color: #fff;
        }

        #form_timxe > input:-moz-placeholder { /* Firefox 18- */
            color: #fff;
        }

.bg-white option {
    color: #333;
}

section {
    padding: 10px 0;
}

.mh_show_customer_best {
    width: 100%;
    background-color: #fff;
    position: relative;
}

.kf_num_count_wrap {
    float: left;
    width: 100%;
    text-align: center;
    position: relative;
    border: 1px solid #337ab7;
    background: #337ab7;
    margin: 5px 0;
}

    .kf_num_count_wrap i {
        float: left;
        padding: 17px;
        font-size: 40px;
        color: #fff;
        width: 25%;
    }

    .kf_num_count_wrap h2 {
        margin-top: 8px;
        color: #CD4315;
    }

    .kf_num_count_wrap a {
        display: block;
        float: right;
        padding: 6px 60px;
        color: #333;
        background: #fff;
        position: absolute;
        right: 0;
        width: 75%;
    }

#download {
    list-style-type: none;
}

@media(max-width: 320px) {
    .kf_num_count_wrap a {
        padding: 6px 50px;
    }
}


#mh_show_gioithieu_new {
    background: #EFEEEE;
}

#show_news_slider {
    position: relative;
}

    #show_news_slider .owl-controls {
        position: absolute;
        top: 0;
        right: 0;
    }

.kf_blog_post_wrap h4 {
    margin-bottom: 2px;
}

.kf_blog_post_wrap .kf_blog_des {
    padding: 5px;
}

.kf_blog_post_wrap date {
    color: #DF5628;
}

.mh_show_booking {
    margin-top: 100px;
}

#booking {
    font-size: 11px;
}

#menu {
    background-color: #26aaea;
    border-color: #fff;
    height: 51px;
    border-radius: 0;
    margin-bottom: 0;
    transition: top 0.5s ease 0s;
    -webkit-transition: top 0.5s ease 0s;
    -moz-transition: top 0.5s ease 0s;
    -o-transition: top 0.5s ease 0s;
}

    #menu .navbar-nav > li > a {
        color: #fff;
    }

/*.disable_hover a:hover {
    border-bottom: 0!important;
}*/

#form_taixe {
    background: rgb(255, 255, 255);
    padding: 10px;
    margin: 5px;
    color: #333;
    border-radius: 4px;
}

.bdx-x {
    position: absolute;
    width: 94%;
    left: 0;
    padding: 10px;
    background: #26aaea;
    margin-left: 5px;
    color: #fff;
    cursor: pointer;
}

#dv1 .form-group .col-sm-6 {
    padding: 0 5px;
}

@media (min-width: 763px) {
    #divBannerImages {
        height: 313px;
    }

    

    /*#pos_banggia {
        height: 34px;
        padding: 5px;
        width: 300px;
    }*/
}

#btn_xembanggia {
    padding: 11px 12px;
}

#divBannerImages {
    background-image: url(../img/bg2.jpg);
}

#table_baogia > caption {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: #333;
}

.bg_yellow {
    background: #f5ff00;
}

.bg_2 {
    background: #ebad95;
}

.bg_fw1 {
    font-weight: 700;
    text-align: left !important;
    width: 150px !important;
}

#table_baogia > tbody > tr > td {
    text-align: right !important;
    width: 80px !important;
}

#table_baogia > thead > tr > th {
    vertical-align: middle;
    text-align: center;
    border-bottom: 0;
}

#table_baogia > tfoot > tr > td {
    text-align: center;
}

.anh_nhaxe {
    list-style-type: none;
    padding-left: 0;
}

    .anh_nhaxe li {
        display: inline-block;
        margin-right: 10px;
    }

        .anh_nhaxe li img {
            width: 100px;
            height: 70px;
        }

#carousel-example-generic {
    list-style-type: none;
    padding-left: 0;
}

    #carousel-example-generic li {
        margin-right: 10px;
    }
.item_profile_first {
        margin-top: 5px;
}

.item_profile {
        margin-bottom: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: #fff;
    padding: 5px;
}

    .item_profile h3 {
        font-size: 20px;
    }


