
<a href="https://m.me/100014446952315" style="position: fixed; bottom: 0; right: 0;
margin-right: 5px; margin-bottom: 5px;">
    Hỗ trợ trực tuyến
</a>

<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '404216066584603',
            xfbml: true,
            version: 'v2.6'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div class="fb-messengermessageus"
     messenger_app_id="404216066584603"
     page_id="100014446952315"
     color="blue"
     size="large">
</div>