<div id="tf-footer">
    <div class="container">
        <!-- container -->
        <div class="row">

            <div class="col-md-4 col-md-6">
                <h3>&copy; 2016 ThuexeVn.Com</h3>
                <ul style="list-style-type: none; padding-left: 0;">
                    <li style="margin: 5px 0;"><a href="mailto:thuexevn.com@gmail.com">Email: thuexevn.com@gmail.com</a></li>
                    <li style="margin: 5px 0;">
                        Di động: <a href="tel:096 410 8688" class="btn btn-primary btn-success">096 410 8688</a>
                    </li>
                    <li style="margin: 5px 0;">
                        Điện thoại: <a href="tel:0466533377" class="btn btn-primary btn-info">04 665 333 77</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-md-6">
                <ul id="download" style="padding-left: 0; display: block;">
                    <li style="margin-bottom: 5px;">
                        <a href='https://play.google.com/store/apps/details?id=com.quickcar.thuexe'>
                            <img alt='Tải nội dung trên Google Play' src='/images/vi_badge_web_generic.png' style="width:270px;height:80px;" />
                        </a>
                    </li>
                    <li style="margin-bottom: 5px;">
                        <a href="https://itunes.apple.com/us/app/thue-xe/id1166862903?ls=1&mt=8">
                            <img src="/Images/appstore.svg" style="width:270px;height:80px;" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-md-6">
                <ul class="list-inline social pull-right">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li> <!-- Change # With your FB Link -->
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li> <!-- Change # With your Twitter Link -->
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li> <!-- Change # With your Google Plus Link -->
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li> <!-- Change # With your Youtube Link -->
                    <li>
                        <a href="http://www.dmca.com/Protection/Status.aspx?ID=d4baeb59-4468-4cbf-96f5-3061230d7d0e" title="DMCA.com Protection Status" class="dmca-badge"> <img src="//images.dmca.com/Badges/dmca_protected_sml_120n.png?ID=d4baeb59-4468-4cbf-96f5-3061230d7d0e" alt="DMCA.com Protection Status"></a>

                    </li>
                </ul>
            </div>
        </div>
    </div><!-- end container -->
</div>
