<li class="dropdown">
    <a href="#" data-toggle="dropdown">Chào tài xế: @Model</a>
    <ul class="dropdown-menu">
        <li><a href="/taixe/quanlyloaixe">Quản trị dành cho tài xế</a></li>
        <li><a href="#" onclick="logout();">Đăng xuất</a></li>
    </ul>
</li>