<ul class="nav" id="side-menu">
    <li>
        <a href="/" target="_blank"><i class="fa icon-home fa-fw"></i> Trang chủ</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-list fa-fw"></i> Các chức năng <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li><a href="/TaiXeBangGia/Addbanggia">Thêm bảng giá</a></li>
            <li><a href="/taixe/quanlybanggia">Quản lý bảng giá</a></li>
            
        </ul>
    </li>

    <li>
        <a href="/TaiXeBangGia/driverPromotion"><i class="fa-fw"></i> Chương trình khuyến mại <span class="fa arrow"></span></a>
    </li>
    
    <li>
        <a href="#"><i class="fa fa-users fa-fw"></i> Tài khoản<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li><a href="/Home/logouttaixe">Đăng xuất</a></li>
        </ul>
    </li>
</ul>

