<ul class="nav" id="side-menu">
    <li>
        <a href="/" target="_blank"><i class="fa icon-home fa-fw"></i> Trang chủ</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-list fa-fw"></i> Các chức năng <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li><a href="/cong_tac_vien/getlink">Lấy link chia sẻ</a></li>
            <li><a href="/cong_tac_vien/danh_sach_dat_xe">Thống kê danh sách đặt xe</a></li>
        </ul>
    </li>
    
    <li>
        <a href="#"><i class="fa fa-users fa-fw"></i> Tài khoản<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li><a href="/Home/ctv_dang_xuat">Đăng xuất</a></li>
        </ul>
    </li>
</ul>

