@model ThueXeVn.Models.driver
@if (Model != null)
{


    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tài xế <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="/taixe/taikhoan">@Model.name</a></li>
            <li><a href="@string.Format("/nha-xe/{0}-{1}", Config.unicodeToNoMark(@Model.name), @Model.id)">Xem trang cá nhân</a></li>
            <li><a href="/taixe/quanlybanggia">Quản lý bảng giá</a></li>
            <li><a href="/Home/logouttaixe">Đăng xuất</a></li>
            <li><a href="/dang-ky-uber-grab">Đăng ký uber Grab</a></li>
        </ul>
    </li>


}