<ul class="nav" id="side-menu">
    <li>
        <a href="/" target="_blank"><i class="fa icon-home fa-fw"></i> Trang chủ</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-list fa-fw"></i> Các chức năng <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li><a href="/taixe/quanlybanggia">Quản lý bảng giá</a></li>
            <li><a href="/TaiXeBangGia/driverPromotion"><i class="fa-fw"></i> Quản lý khuyến mại</a></li>
            <li>
                <a href="/TaiXeBangGia/khachdatxe"><i class="fa-fw"></i> Quản lý khách đặt xe <span class="fa arrow"></span></a>
            </li>

            <li>
                <a href="/TaiXeBangGia/themanhnhaxe"><i class="fa-fw"></i> Quản lý ảnh nhà xe <span class="fa arrow"></span></a>
            </li>
        </ul>
    </li>
    
    <li>
        <a href="#"><i class="fa fa-users fa-fw"></i> Quản lý tài khoản<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li><a href="/taixe/taikhoan">Sửa thông tin tài khoản</a></li>
            <li><a href="/Home/logouttaixe">Đăng xuất</a></li>
        </ul>
    </li>
</ul>

