#form_search_taxe *, #result_taixe * {
    border-radius: 0;
    color: #333;
}

#form_search_taxe .panel, #result_taixe .panel {
    border: 0;
}

#form_search_taxe .panel-footer {
    padding: 0;
}

#form_search_taxe .panel-heading h3, 
#result_taixe .panel-heading h3 {
    color: #fff;
    text-transform: uppercase;
}

#form_search_taxe .panel-footer button {
    border-color: #ffcc33;
    color: #fff;
    font-size: 132%;
}

#form_search_taxe .panel-footer button i {
    color: #fff;
}

@media (max-width: 512px) {
    #result_taixe, #form_search_taxe {
        width: 100%;
        padding: 0;
    }
    
}

#result_taixe {
    color: #333;
}

@media screen and (min-width: 768px) {
    .row.results_card {
    background-image: none;
    padding-top: 22px;
    border: 1px solid #CCC;
    border-top: 0;
}
}

.color_button_stx {
    background: #FFB933;
}

.color_stx {
    color: #FFB933!important;
}



.row.results_card {
    background-color: #FFF;
    background-position-y: 137px;
    padding-top: 7px;
    margin: 0;
    border-bottom: 1px solid #CCC;
}

.row.results_card .pho_information, .row.results_card .price_container {
    height: 65px;
    margin-bottom: 10px;
}

.row.results_card .continue_button, .row.results_card .filters {
    height: 40px;
    margin-bottom: 8px;
}

.row.results_card .pho-location {
    font-size: 10px;
    color: grey;
    padding-top: 0;
    margin-bottom: 20px;
}

#result_taixe .list-group {
    padding: 0;
}
