
@{
    ViewBag.Title = "Trang quản trị dành cho cộng tác viên";
    Layout = "~/Views/Shared/_LayoutAdminCTV.cshtml";
}

@{
    string link = "";
    if (ViewBag.linkshare != null)
    {
        link = Html.Raw(ViewBag.linkshare);
    }    
}

@section PageTitleHeader {
    <div class="page-header">
        <h3><i class="fa fa-dashboard fa-2x fa-color-red"></i> @ViewBag.Title</h3>
    </div>
}

<div class="row">
    <div class="col-nd-6 col-md-offset-6">
        <div class="panel panel-default box box-primary">
            <div class="panel-body">
                <div class="input-group">                    
                    <input type="text" class="form-control" placeholder="Link chia sẻ" value="@link" name="linkchiase" id="linkchiase" aria-describedby="basic-addon1">
                    <button class="input-group-addon" id="basic-addon1"><i class="fa fa-unlink"></i> Sao chép link chia sẻ</button>
                </div>
            </div>
            
        </div>
    </div>
</div>