@model ThueXeVn.Models.driver_info

@if (Model != null)
{
    if (Model.driver_note != null && Model.driver_note != "")
    {
        <div class="row profile--item">
            <div class="col-md-3">
                <h2 class="item_label">Ghi chú bảng giá:</h2>
            </div>
            <div class="col-sm-9">
                <div class="profile_des">
                    @Html.Raw(@Model.driver_note)
                </div>
            </div>
        </div>
    }

    if (Model.driver_des != null && Model.driver_des != "")
    {
        <div class="row profile--item">
            <div class="col-md-3">
                <h2 class="item_label">Giới thiệu:</h2>
            </div>
            <div class="col-md-9">
                <div class="profile_des">
                    @Html.Raw(@Model.driver_des)
                </div>
            </div>
        </div>
    }
}
