@if (Model != "")
{
    <section class="col-xs-12 col-md-3">
        <img style="width: 100px; height: 100px; margin-top: 5px;" src="@Model" />
    </section>
}
else
{
    <section class="col-xs-12 col-md-3">
        <i class="fa fa-car fa-3x"></i>
    </section>
}
