@if (Model != null)
{
    if (Model > 0)
    {
        <div class="col-xs-12 col-md-12 quotes-section quote_section__vertified">
            @*<p>
                    <strong>Đã xác thực tài khoản</strong>
                </p>*@
            <div class="ct-ribbon ct-ribbon-blue">
                <i class="fa fa-check-circle ct-icon-best-seller"></i><p class="">Đã xác thực tài khoản</p>
            </div>
        </div>
    }

}