@model ThueXeVn.Models.driver_info

@if (Model != null)
{
    if (Model.driver_note != null && Model.driver_note != "")
    {
        <div class="row item_profile">
            <div class="col-sm-3">
                <h3>Ghi chú bảng giá:</h3>
            </div>
            <div class="col-sm-9">
                <div style="margin-top: 20px;">
                    @Html.Raw(@Model.driver_note)
                </div>
            </div>
        </div>
    }

    if (Model.driver_des != null && Model.driver_des != "")
    {
        <div class="row item_profile">
            <div class="col-sm-3">
                <h3>Giới thiệu:</h3>
            </div>
            <div class="col-sm-9">
                <div style="margin-top: 20px;">
                    @Html.Raw(@Model.driver_des)
                </div>
            </div>
        </div>
    }
}
