@model ThueXeVn.Models.danhgiavm
@if (Model.so1 != null && Model.so2 != null)
{
    <div class="rating-star-box">
        <p><input type="hidden" class="rating-tooltip danh_gia_chung" id="danh_gia_chung_rating_@Model.so2" data-filled="fa fa-star fa-2x fa_red" data-empty="fa fa-star-o fa-2x fa_red" data-fractions="2" data-readonly> <span id="danh_gia_chung_@Model.so2">@Model.so1 sao.</span></p>
    </div>

    <script>
        $(document).ready(function () {
            $('#danh_gia_chung_rating_'+@Model.so2).rating('rate', @Model.so1);
            
        })
    </script>
}