@{
    ViewBag.Title = "About";
}
<div class="col-sm-12" style="background-color:white;color:black;border-radius:25px;min-height:567px;border-right:1px solid #808080;">
    <h2>Cho thuê xe Việt Nam với chất lượng cao nhất và chi phí hợp lý nhất</h2>
    <h3>Tài xế lịch sự, xe chất lượng cao</h3>

    <p>Website, ứng dụng gọi xe là kênh trung gian giúp khách hàng kết nối với những tài xế có xe riêng, nhà xe, với đầy đủ các loại xe chất lượng cao.</p>
    <b>ĐỐI VỚI KHÁCH HÀNG THUÊ XE</b>
    <p>- Bạn cần thuê xe đi ngoại tỉnh đường dài, đi taxi giá rẻ, đi chơi theo yêu cầu, ứng dụng này có tài xế lịch sự, xe đẹp mới, hãy cài ứng dụng này, hoàn toàn miễn phí.</p>
    <p>- Bạn cần thuê xe tải, xe chở hàng, xe cưới, xe container, xe theo yêu cầu, hãy cài ứng dụng này.</p>
    <p>- Bạn cần đi đưa đón sân bay, taxi, giá hợp lý nhất, hãy cài ứng dụng này</p>
    <b>ĐỐI VỚI TÀI XẾ, NHÀ XE</b>
    <p>- Bạn là tài xế có xe riêng, cần tăng doanh thu, chúng tôi mang khách hàng cho bạn với giá hợp lý nhất thị trường, chỉ cần duy nhất một chiếc điện thoại có kết nối internet 3G, chúng tôi không trừ phí cho mỗi chuyến đi của bạn. Chúng tôi mang lại khách hàng cho bạn với chi phí rẻ nhất và hợp lý nhất. Dù bạn có chạy 100 chuyến, chúng tôi cũng chỉ thu phí 1 chuyến.</p>
    <p>- Bạn là nhà xe, văn phòng cho thuê xe, lễ tân khách sạn hay gọi xe, doanh nghiệp cần thuê xe, hãy cài ứng dụng này, xe đưa đón văn phòng chuyên nghiệp, đi đường dài, sân bay, đi chơi...</p>
    <b>Trân trọng cám ơn quý khách đã sử dụng dịch vụ của chúng tôi!</b>
</div>

