@{
    ViewBag.Title = "About";
}
<div class="col-sm-12" style="background-color:white;color:black;border-radius:25px;min-height:567px;border-right:1px solid #808080;">
    <h2>Cho thuê xe Việt Nam với chất lượng cao nhất và chi phí hợp lý nhất</h2>
    <h3>Tài xế lịch sự, xe chất lượng cao</h3>

    <p>Website là kênh trung gian giúp khách hàng kết nối với những tài xế có xe riêng, chất lượng cao.</p>
    <p>Bất kỳ khi nào bạn cần một chiếc xe đẹp, phục vụ nhu cầu đi lại của mình từ Hà Nội đến các tỉnh lân cận, hoặc đi sân bay Nội Bài, hãy liên hệ với chúng tôi.</p>
    <p>Với hàng trăm tài xế cùng những chiếc xe mới, đẹp ở khu vực Hà Nội, cùng hàng chục năm lái xe kinh nghiệm, quý khách sẽ được phục vụ tận tình với giá phải chăng nhất.</p>
    <p>
        Với những tuyến đường quen thuộc như Hà Nội - Quảng Ninh, Hà Nội - Hải Phòng, Hà Nội - Bắc Ninh, Bắc Giang, Lạng Sơn...các tuyến đi sân bay Nội Bài hai chiều hoặc một chiều, phù hợp với nhu cầu đi lại của cá nhân, gia đình và doanh nghiệp trong
        du lịch, đưa đón sân bay, đón người thân, bạn bè, đối tác. Dàn xe của chúng tôi phù hợp với nhu cầu thiết thực của quý khách
    </p>
    <p>Gọi ngay <a href="tel:0964108688">096 410 8688</a> để được tư vấn hoặc đặt xe ở trang chủ chúng tôi sẽ liên hệ lại sớm nhất.</p>
    <p>Trân trọng cám ơn quý khách đã sử dụng dịch vụ của chúng tôi.</p>
</div>

