@{
    string url = Request.Url.Authority + HttpContext.Current.Request.RawUrl.ToString();
    if (Request.ServerVariables["HTTPS"] == "on")
    {
        url = "https://" + url;
    }
    else
    {
        url = "http://" + url;
    }
}

@{

    Layout = "~/Views/Shared/_LayoutContent.cshtml";
    ViewBag.title = "Bảng giá xe";
    ViewBag.des = "Bảng giá thuê xe vn.com";
    ViewBag.keywords = "";
    ViewBag.url = @url;
}

@{Html.RenderAction("banggiaxe1", "Home");}

<div class="row">
    <div class="col-md-12">

        <h3>Tìm giá xe</h3>
        <hr />

        @using (Html.BeginForm("banggiaxe", "Home", FormMethod.Get, htmlAttributes: new { @class = "form-inline", id = "tim_bang_giaxe" }))
        {
            <div class="form-group">
                <label for="exampleInputName2">Từ: </label>
                <input type="text" class="form-control" id="address_from" placeholder="Địa chỉ từ">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Đến: </label>
                <input type="text" class="form-control" id="address_to" placeholder="">
            </div>
            <button type="submit" class="btn btn-default">Send invitation</button>
        }

        

    </div>
</div>

@section scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLPSKQ4QV4xGiQjnZDUecx-UEr3D0QePY&libraries=places" type="text/javascript"></script>
    <script src="/Scripts/jquery.geocomplete.js"></script>
    <script>

    </script>

}