@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string link = "";
}

@section scriptsheader {
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLPSKQ4QV4xGiQjnZDUecx-UEr3D0QePY&libraries=places" type="text/javascript"></script>
    <script src="/Scripts/jquery.geocomplete.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.js"></script>
}


<div class="map_canvas" style="display:none;"></div>

<div class="content-heading text-center">
    <!-- Input Your Home Content Here -->
    <div class="row text-center" style="min-height:667px;">
        <div class="col-sm-12">
            <div class="col-sm-12" id="dv1" style="background-color:white;color:black;border-radius:25px;min-height:567px;border-right:1px solid #808080;display:block;">
                <h2 style="color:#337ab7;">ĐẶT THUÊ XE</h2>
                <p style="text-align:left;margin-top:5px;">Điểm đi*</p>
                <input id="car_from" name="car_from" class="form-control" placeholder="Điểm đi" autocomplete="on" />
                <input type="hidden" id="lon1" name="lon1" value="" />
                <input type="hidden" id="lat1" name="lat1" value="" />
                <p style="text-align:left;margin-top:5px;">Điểm đến*</p>
                <input id="car_to" name="car_to" class="form-control" placeholder="Điểm đến" autocomplete="on" />
                <input type="hidden" id="lon2" name="lon2" value="" />
                <input type="hidden" id="lat2" name="lat2" value="" />
                <p style="text-align:left;margin-top:5px;">Loại xe *</p>
                <select id="car_type" class="form-control">
                    
                </select>
                <p style="text-align:left;margin-top:5px;">Hình thức đi *</p>
                <select id="car_hire_type" class="form-control"></select>
                <p style="text-align:left;margin-top:5px;">Số chỗ *</p>
                <select id="car_size" class="form-control"></select>
                <p style="text-align:left;margin-top:5px;">Tên khách hàng*</p>
                <input id="name" name="name" class="form-control" placeholder="Nhập tên" />
                <p style="text-align:left;margin-top:5px;">Số điện thoại liên hệ(lái xe sẽ gọi cho bạn)*</p>
                <input id="phone" name="phone" class="form-control" placeholder="Nhập số điện thoại" />
                <p style="text-align:left;margin-top:5px;">Thời gian đi*</p>
                <input type="text" class="form-control" id="from_datetime" placeholder="Thời gian đi">
                <p style="text-align:left;margin-top:5px;">Thời gian về*</p>
                <input type="text" class="form-control" id="to_datetime" placeholder="Thời gian đi">
                <input type="button" value="XÁC NHẬN ĐẶT XE" class="btn btn-primary btn-block" onclick="booking();" style="margin-bottom:5px;" id="btnregister111" />
            </div>
        </div><!-- end col 10 with offset 1 to centered -->
    </div> <!-- end contact form outer row with centered text-->
</div><!-- End Input Your Home Content Here -->

@section Scripts {
    
<script>
    
    $(document).ready(function () {
        $('#from_datetime').datetimepicker({
            dayOfWeekStart: 1,
            lang: 'en',
            disabledDates: ['1986/01/08', '1986/01/09', '1986/01/10'],
            startDate: '@DateTime.Now.Year/@DateTime.Now.Month/@DateTime.Now.Date'
        });
        $('#to_datetime').datetimepicker({
            dayOfWeekStart: 1,
            lang: 'en',
            disabledDates: ['1986/01/08', '1986/01/09', '1986/01/10'],
            startDate: '@DateTime.Now.Year/@DateTime.Now.Month/@DateTime.Now.Date'
        });
        var d = new Date();
        var s = d.toLocaleString();
        $('#from_datetime').datetimepicker({ value: s, step: 10 });
        $('#to_datetime').datetimepicker({ value: s, step: 10 });
    })

    $(function () {
        var options = {
            map: ".map_canvas"
        };
        $("#car_from").geocomplete(options)
          .bind("geocode:result", function (event, result) {
              $("#lon1").val(result.geometry.location.lng());
              $("#lat1").val(result.geometry.location.lat());
              //alert("long" + result.geometry.location.lng() + ", lat=" + result.geometry.location.lat());
          })
          .bind("geocode:error", function (event, status) {
              $.log("ERROR: " + status);
          })
          .bind("geocode:multiple", function (event, results) {
              $.log("Multiple: " + results.length + " results found");
          });
        $("#car_to").geocomplete(options)
          .bind("geocode:result", function (event, result) {
              $("#lon2").val(result.geometry.location.lng());
              $("#lat2").val(result.geometry.location.lat());
              //alert("long" + result.geometry.location.lng() + ", lat=" + result.geometry.location.lat());
          })
          .bind("geocode:error", function (event, status) {
              $.log("ERROR: " + status);
          })
          .bind("geocode:multiple", function (event, results) {
              $.log("Multiple: " + results.length + " results found");
          });
    });
    var utm_source = getParameterByName('utm');
    function booking() {
        var formdata = new FormData(); //FormData object
        var from_datetime = document.getElementById("from_datetime").value;

        if (document.getElementById("car_from").value == "" || document.getElementById("lon1").value == "") {
            alert("Nhập điểm đi!");
            document.getElementById("car_from").focus();
            return;
        }

        if (document.getElementById("car_to").value == "" || document.getElementById("lon2").value == "") {
            alert("Nhập điểm đến!");
            document.getElementById("car_to").focus();
            return;
        }
        if (document.getElementById("car_type").value == "") {
            alert("Nhập loại xe!");
            document.getElementById("car_type").focus();
            return;
        }
        if (document.getElementById("car_hire_type").value == "") {
            alert("Nhập hình thức đi!");
            document.getElementById("car_hire_type").focus();
            return;
        }
        if (document.getElementById("car_size").value == "") {
            alert("Nhập số chỗ!");
            document.getElementById("car_size").focus();
            return;
        }
        if (document.getElementById("from_datetime").value == "") {
            alert("Ngày giờ đi!");
            document.getElementById("from_datetime").focus();
            return;
        }
        if (document.getElementById("to_datetime").value == "") {
            alert("Ngày giờ về!");
            document.getElementById("to_datetime").focus();
            return;
        }
        if (document.getElementById("name").value == "") {
            alert("Nhập họ tên!");
            document.getElementById("name").focus();
            return;
        }
        if (document.getElementById("phone").value == "") {
            alert("Nhập số điện thoại!");
            document.getElementById("phone").focus();
            return;
        }

        formdata.append("car_from", document.getElementById("car_from").value);
        formdata.append("car_to", document.getElementById("car_to").value);
        formdata.append("car_type", document.getElementById("car_type").value);
        formdata.append("car_hire_type", document.getElementById("car_hire_type").value);
        formdata.append("car_size", document.getElementById("car_size").value);
        formdata.append("from_datetime", document.getElementById("from_datetime").value);
        formdata.append("to_datetime", document.getElementById("to_datetime").value);
        formdata.append("lat1", document.getElementById("lat1").value);
        formdata.append("lon1", document.getElementById("lon1").value);
        formdata.append("lat2", document.getElementById("lat2").value);
        formdata.append("lon2", document.getElementById("lon2").value);
        formdata.append("name", document.getElementById("name").value);
        formdata.append("phone", document.getElementById("phone").value);
        formdata.append("utm", utm_source);
        document.getElementById("btnregister111").value = "Đang đặt xe xin chờ....";
        document.getElementById("btnregister111").disabled = true;

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Home/booking');
        xhr.send(formdata);
        var content = "";
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                if (xhr.responseText == "1") {
                    alert("Bạn đã đặt xe thành công! Tài xế sẽ liên hệ lại sớm nhất với bạn!");
                    window.location.href = window.location.href;
                } else {
                    alert("Chương trình đang cập nhật, xin quay lại sau!");
                }
                document.getElementById("btnregister111").value = "XÁC NHẬN";
                document.getElementById("btnregister111").disabled = false;
            }
        }
    }

    $.ajax({
        url: "/Api/getListCarType",
        cache: false
    }).done(function (html) {
        var news = '{"news":' + html + '}';
        var json_parsed = $.parseJSON(news);
        $("#car_type").html("");
        for (var i = 0; i < json_parsed.news.length; i++) {
            if (json_parsed.news[i]) {
                var name = json_parsed.news[i].name;
                $("#car_type").append("<option value='" + name + "'>" + name + "</option>");
            }
        }
    });
    $.ajax({
        url: "/Api/getCarHireType",
        cache: false
    }).done(function (html) {
        var news = '{"news":' + html + '}';
        var json_parsed = $.parseJSON(news);
        $("#car_hire_type").html("");
        for (var i = 0; i < json_parsed.news.length; i++) {
            if (json_parsed.news[i]) {
                var name = json_parsed.news[i].name;
                $("#car_hire_type").append("<option value='" + name + "'>" + name + "</option>");
            }
        }
    });
    $.ajax({
        url: "/Api/getCarSize",
        cache: false
    }).done(function (html) {
        var news = '{"news":' + html + '}';
        var json_parsed = $.parseJSON(news);
        $("#car_size").html("");
        for (var i = 0; i < json_parsed.news.length; i++) {
            if (json_parsed.news[i]) {
                var name = json_parsed.news[i].name;
                $("#car_size").append("<option value='" + name + "'>" + name + "</option>");
            }
        }
    });
</script>

}