@{
    ViewBag.Title = "Contact";
}
<div class="col-sm-12" style="background-color:white;color:black;border-radius:25px;min-height:267px;border-right:1px solid #808080;" id="headerct">
    <h2>Liên hệ hỗ trợ kỹ thuật <a href="tel:0964108688">096 410 8688</a></h2>
    <h3>Email: thuexevn.com@gmail.com</h3>
</div>
