@{
    string url = Request.Url.Authority + HttpContext.Current.Request.RawUrl.ToString();
    if (Request.ServerVariables["HTTPS"] == "on")
    {
        url = "https://" + url;
    }
    else
    {
        url = "http://" + url;
    }
}

@{

    Layout = "~/Views/Shared/_LayoutContent.cshtml";
    ViewBag.title = "Thủ tục Đăng ký Grap và Đăng Ký Uber";
    ViewBag.des = "Thủ tục Đăng ký Grap và Đăng Ký Uber dễ dàng nhanh chóng";
    ViewBag.keywords = "thủ tục, đăng ký, uber, grab";
    ViewBag.url = @url;
}

<div class="row" style="background: #fff; color: #333;">
    <div class="col-md-12">
        <p><strong>Thủ tục Đăng ký Grap và Đăng Ký Uber</strong></p>
        <p>Quý khách đã nghe đến <strong>dịch vụ Đăng ký Grap và Đăng Ký Uber</strong> lần nào chưa?. Chắc hẳn rồi đúng không. Công việc này vô cùng thú vị, nó giúp Quý khách rèn luyện tay lái, có được những trải nghiệm thú vị về nghề lái xe. Và đặc biệt hơn, nó mang đến Quý khách một khoản phí không hề nhỏ cho những thời gian rảnh rỗi trở thành tài xế cho khách.</p>
        <p>Với những lợi ích mà grap mang lại Quý khách rất mong muốn trở thành một trong những thành viên của grap taxi &amp; Uber taxi. Tuy nhiên, để được tham gia vào lực lượng của grap và Uber, Quý khách cần đảm bảo có được một bộ hồ sơ đầy đủ có những thông tin cá nhân như</p>
        <ul>
            <li>Tên pháp nhân</li>
            <li>Biển kiểm soát</li>
            <li>Tên chủ xe</li>
        </ul>
        <p>Và 2 hồ xơ đi kèm bao gồm: hồ sơ xe, hồ sơ lái xe</p>
        <h2>Trong hồ sơ xe Quý khách cần chuẩn bị:</h2>
        <ul>
            <li>Đăng ký hoặc lưu hành ngân hàng</li>
            <li>Đăng kiểm</li>
            <li>Chứng minh thư nhân dân chủ xe</li>
            <li>Giám sát hành trình</li>
            <li>Bảo hiểm dân sự</li>
            <li>Bảo hiểm thân vỏ</li>
            <li>Biên bản thanh lý hợp đồng</li>
            <li>Phù hiệu (tài xế có phù hiệu được cấp hợp đồng lái xe, nếu chưa có phù hiệu được cấp hợp đồng xã viên).</li>
            <li>Giấy phép lái xe</li>
            <li>Chứng minh thư nhân dân</li>
            <li>Hộ khẩu</li>
            <li>Sơ yếu lý lịch- lý lịch tư pháp</li>
            <li>Giấy khám sức khoẻ</li>
        </ul>
        <h2>Đối với hồ sơ lái xe cần đến:</h2>
        <p>Tất cả giấy tờ trên đều của người cần Đăng ký Grap và Đăng Ký Uber và có công chứng rõ ràng.</p>
        <h2>Trước khi Đăng ký Grap và Đăng Ký Uber, Quý khách cần ghi nhớ rằng:</h2>
        <ul>
            <li>Tem xin miễn phí</li>
            <li>Grap sẽ tự trừ thuế 2 triệu đồng/ năm</li>
            <li>Pháp nhân kê khai thuế cho chủ xe cần đống 6 trăm ngàn/ tháng. Trong đó, đối với tháng đầu tiên, grap sẽ thu trực tiếp tiền mặt. Những tháng tiếp theo hệ thống sẽ tự trừ tiền khi chuyển cho Quý khách.</li>
        </ul>
        <p>Trở thành một trong những nhân viên của grap hiện nay thật dễ dàng phải không. Hãy chuẩn bị cho mình một bộ hồ sơ đầy đủ đáp ứng được với các yêu cầu kể trên Quý khách sẽ <strong>Đăng ký Grap và Đăng Ký Uber</strong> nhanh chóng chỉ trong chớp mắt.</p>
        <p>Liên hệ với chúng tôi theo hotline 096. 410.8688 hoặc trực tiếp tại địa chỉ Phòng 110, Công ty Minh Việt- địa chỉ: số 1 toà nhà Kim Ánh, 78 Duy Tân, Cầu Giấy, Hà Nội khi cần hỗ trợ các thông tin <strong>Đăng ký Grap và Đăng Ký Uber</strong>.</p>
        <p> </p>
        <p> </p>

    </div>
</div>


