@{

    ViewBag.des = "tài xế/nhà xe cài đặt ứng dụng thuê xe trên android(google play) và ios(app store)";
    ViewBag.url = Config.domain + "/Home/Customer";
    ViewBag.title = "Tài xế/Nhà xe";
    ViewBag.keywords = "thuê xe,sân bay,taxi, ứng dụng, gọi xe, đi ngoại tỉnh, đường dài, xe tự do, xe không mào";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}
<div class="col-sm-12" style="background-color:white;color:black;border-radius:25px;min-height:567px;border-right:1px solid #808080;" id="headerct">
    <h2>Cho thuê xe Việt Nam với chất lượng cao nhất và chi phí hợp lý nhất</h2>
    <h3>Tài xế lịch sự, xe chất lượng cao</h3>
    <b>ĐỐI VỚI TÀI XẾ/NHÀ XE CÓ XE RIÊNG</b>
    <p>
        - Download phần mềm dành cho điện thoại Android tại <a href='https://play.google.com/store/apps/details?id=com.quickcar.thuexe'>
            <img alt='Tải nội dung trên Google Play' src='/images/vi_badge_web_generic.png' style="width:135px;height:40px;" /> dành cho Iphone tại <a href="https://itunes.apple.com/us/app/thue-xe/id1166862903?ls=1&mt=8">
                <img src="/Images/appstore.svg" style="width:135px;height:40px;" />
            </a>
        </a>
    </p>
    <p>- Cài đặt xong, bạn chọn mình là Tài xế/Nhà xe và đăng ký tài xế<br /><img src="/Images/tx01.png" /></p>X
    <p>- Luôn bật ứng dụng để khách tìm thấy bạn <br /><img src="/Images/tx03.png" /></p>

</div>

