@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    string link = "";
}


<div class="map_canvas" style="display:none;"></div>
@*<label for="autocomplete">Select a programming language: </label>
    <input id="autocomplete">
    <script>
        var tags = ["c++", "java", "php", "coldfusion", "javascript", "asp", "ruby"];
        $("#autocomplete").autocomplete({
            source: function (request, response) {
                var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(request.term), "i");
                response($.grep(tags, function (item) {
                    return matcher.test(item);
                }));
            }
        });
    </script>*@

@section Styles {
    <link href="~/Content/stylemh.css" rel="stylesheet" />
    <link href="~/Content/Theme/admin/vendor/datatable/dataTables.bootstrap.min.css" rel="stylesheet" />

}


@section sliderHome {

    <div id="divMainContent" style="height: auto;">
        <div id="divContentBody" class="container-fluid" style="min-height: 304px; padding: 0;">
            <div id="divBannerImages" class="home-banner" style="background-image: url(/Content/Theme/1a/img/bg/bg2.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <div id="form_timxe">
                                <input id="address" name="address" class="form-control col-sm-3" placeholder="Bạn đang ở đâu? Gõ địa chỉ muốn đón" autocomplete="on" />
                                <input type="hidden" id="lon" name="lon" value="" />
                                <input type="hidden" id="lat" name="lat" value="" />
                                <select id="car_type" class="form-control col-sm-3 bg-white" style="color: #fff;">
                                    <option value="">Chọn loại xe</option>
                                </select>
                                <select id="car_size" class="form-control col-sm-3 bg-white" style="color: #fff;">
                                    <option value="">Chọn số chỗ</option>
                                </select>
                                <input type="button" value="TÌM XE" class="form-control btn btn-primary btn-block" style="background-color:#449d44;color:#ffffff;" onclick="search();" id="search" />
                            </div>

                        </div>
                        <div class="col-md-6 col-sm-pull-6">
                            <div class="span5 about-carousel">
                                <div id="divBannerTextCarousel" class="carousel slide">
                                    <div id="divBannerTexts" class="carousel-inner custom_slider" style="margin-top: 19px; margin-bottom: 19px;">
                                        <div class="item active">
                                            <a class="highlight-1" target="_blank" href="#">Post your <strong>Truck/Load</strong> Requirements using App</a>
                                        </div>
                                        <div class="item">
                                            <a class="highlight-1" target="_blank" href="#">Get your <strong>truck loaded</strong> with a single <strong>click</strong></a>
                                        </div>
                                        <div class="item">
                                            <a class="highlight-1" target="_blank" href="#">Increase your <strong>business</strong> with a single  <strong>click </strong></a>
                                        </div>
                                        <div class="item">
                                            <a class="highlight-1" target="_blank" href="#">Download <strong>TruckSuvidha App</strong></a>
                                        </div>
                                        <div class="item">
                                            <a class="highlight-1" target="_blank" href="#">India's first portal for <strong>Transport Industry</strong>.</a>
                                        </div>
                                    </div>

                                    <ul id="download" style="padding-left: 0; display: block;">
                                        <li style="margin-bottom: 5px;">
                                            <a href='https://play.google.com/store/apps/details?id=com.quickcar.thuexe'>
                                                <img alt='Tải nội dung trên Google Play' src='/images/vi_badge_web_generic.png' style="width:270px;height:80px;" />
                                            </a>
                                        </li>
                                        <li style="margin-bottom: 5px;">
                                            <a href="https://itunes.apple.com/us/app/thue-xe/id1166862903?ls=1&mt=8">
                                                <img src="/Images/appstore.svg" style="width:270px;height:80px;" />
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<section class="mh_show_customer_best">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="kf_num_count_wrap">
                    <i class="fa fa-car"></i>                    
                    <a href="#"><h2 class="counter">10,456</h2> Số tài xế</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="kf_num_count_wrap">
                    <i class="fa fa-phone"></i>                    
                    <a href="#"><h2 class="counter">12,756</h2> Số cuộc gọi</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="kf_num_count_wrap">
                    <i class="fa fa-users"></i>
                    <a href="#"><h2 class="counter">22,004</h2> Số khách hàng
                        
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</section>



@*<div class="content-heading text-center">
        <!-- Input Your Home Content Here -->
        <div class="row text-center" style="min-height:667px;">
            <!-- contact form outer row with centered text-->
            <h2>THUÊ XE VIỆT NAM</h2>
            <h2>
                <a href='https://play.google.com/store/apps/details?id=com.quickcar.thuexe'>
                    <img alt='Tải nội dung trên Google Play' src='/images/vi_badge_web_generic.png' style="width:270px;height:80px;" />
                </a>
            </h2>
            <h2>
                <a href="https://itunes.apple.com/us/app/thue-xe/id1166862903?ls=1&mt=8">
                    <img src="/Images/appstore.svg" style="width:270px;height:80px;" />
                </a>
            </h2>
            <div class="col-sm-12">

            </div>

        </div> <!-- end contact form outer row with centered text-->
    </div><!-- End Input Your Home Content Here -->*@

@*@{Html.RenderAction("LoadNewTop");}*@

@{Html.RenderAction("LoadBooking");}

@*@Html.Partial("_LoadBooking")*@



@section Scripts {
@*<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>*@
<script src="~/Scripts/waypoints.min.js"></script>
<script src="~/Scripts/jquery.counterup.min.js"></script>
<script type="text/javascript" src="~/Content/Theme/1a/js/owl.carousel.js"></script><!-- Owl Carousel Plugin -->
<script src="~/Content/Theme/admin/vendor/datatable/jquery.dataTables.min.js"></script>
<script src="~/Content/Theme/admin/vendor/datatable/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        "use strict";
        $('#datetimepicker').datetimepicker({
            dayOfWeekStart: 1,
            lang: 'en',
            disabledDates: ['1986/01/08', '1986/01/09', '1986/01/10'],
            startDate: '@DateTime.Now.Year/@DateTime.Now.Month/@DateTime.Now.Date'
        });
        var d = new Date();
        var s = d.toLocaleString();
        $('#datetimepicker').datetimepicker({ value: s, step: 10 });

        //load listcartype & listcarsize
        $.ajax({
            url: "/Api/getListCarType",
            cache: false
        }).done(function (html) {
            var news = '{"news":' + html + '}';
            var json_parsed = $.parseJSON(news);
            for (var i = 0; i < json_parsed.news.length; i++) {
                if (json_parsed.news[i]) {
                    var name = json_parsed.news[i].name;
                    $("#car_type").append("<option value='" + name + "'>" + name + "</option>");
                }
            }
        });
        $.ajax({
            url: "/Api/getCarSize",
            cache: false
        }).done(function (html) {
            var news = '{"news":' + html + '}';
            var json_parsed = $.parseJSON(news);
            for (var i = 0; i < json_parsed.news.length; i++) {
                if (json_parsed.news[i]) {
                    var name = json_parsed.news[i].name;
                    $("#car_size").append("<option value='" + name + "'>" + name + "</option>");
                }
            }
        });

        //counter
        if ($('.counter').length) {
            $('.counter').counterUp({
                delay: 10,
                time: 1000
            });
        }
        
        //show_news_slider
        //if ($('#show_news_slider').length) {
        //    var owl = $("#show_news_slider");
        //    owl.owlCarousel({
        //        autoPlay: 3000, //Set AutoPlay to 3 seconds
        //        slideSpeed : 300,
        //        paginationSpeed : 400,
        //        singleItem:true,
        //        navigation: true,
        //        items: 1,
        //        lazyLoad: true,
        //        pagination: false,
        //        navigationText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"]
        //    });
        //}

        //ds dat xe
        if ($('#booking').length) {
            $('#booking').dataTable({
                "bFilter": false,
                scrollY: '50vh',
                scrollCollapse: false,
                paging: false,
                "bLengthChange": false,
                "bInfo": false,
                "bAutoWidth": false
            });
            $("#booking").on("click", ".bdx-x", function () {
                $(this).remove(); 
                
            })

            var length_booking = $('#booking > tbody > tr').length - 1;

            var timer = setInterval(function () {
                var row_random = getRandomInt(0, length_booking);
                //console.log(row_random);
                var row_hidden = [];
                var row_show = [];

                $('#booking > tbody > tr:eq(' + row_random + ')').fadeOut();
                row_hidden.push(row_random);

                if (row_hidden.length > 3) {
                    for (var i = 0; i < row_hidden.length;i++){
                        var timer2 = setInterval(function () {
                            $('#booking > tbody > tr:eq(' + i + ')').fadeIn();
                        }, 5000)
                    }
                }

            }, 5000);

        }

        //dangnhap taixe
        if ($('.show_pn').length) {
            $('.show_pn').on('click', function (e) {
                window.location.href = "/Home/Taixe";
                e.preventDefault();
            })
        }

        //if ($('.bdx-x').length) {
        //    $('.bdx-x').on('click', function () {
        //        $(this).remove();
        //    })
        //}

    })

    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    $(function () {
        var options = {
            map: ".map_canvas"
        };
        $("#address").geocomplete(options)
          .bind("geocode:result", function (event, result) {
              $("#lon").val(result.geometry.location.lng());
              $("#lat").val(result.geometry.location.lat());
              //alert("long" + result.geometry.location.lng() + ", lat=" + result.geometry.location.lat());
          })
          .bind("geocode:error", function (event, status) {
              $.log("ERROR: " + status);
          })
          .bind("geocode:multiple", function (event, results) {
              $.log("Multiple: " + results.length + " results found");
          });
    });


    function search() {
        if (document.getElementById("lon").value == "") {
            alert("Nhập địa chỉ muốn đón!");
            document.getElementById("address").focus();
            return;
        }
        window.location.href = "/Home/Search?lon=" + document.getElementById("lon").value + "&lat=" + document.getElementById("lat").value + "&address=" + document.getElementById("address").value + "&car_type=" + document.getElementById("car_type").value + "&car_size=" + document.getElementById("car_size").value;
    }

    
</script>
<script>
    $(document).ready(function () {
        $('.carousel').carousel({
            interval: 1000 * 2
        });
    })
    
</script>

}

