@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string link = "";
}

<script type="text/javascript" src="/Scripts/jquery-1.11.0.min.js"></script>
<script src="/Scripts/jquery-ui-1.8.24.js"></script>
<script src="/Scripts/jquery-2.1.1.js"></script>
<script src="/Scripts/jquery-ui.js"></script>
<link rel="stylesheet" href="/Scripts/jquery-ui.css">
<script src="/Scripts/jquery.datetimepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/Content/jquery.datetimepicker.css" />
@*<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>*@
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLPSKQ4QV4xGiQjnZDUecx-UEr3D0QePY&libraries=places" type="text/javascript"></script>
<script src="/Scripts/jquery.geocomplete.js"></script> 
<div class="map_canvas" style="display:none;"></div>
@*<label for="autocomplete">Select a programming language: </label>
<input id="autocomplete">
<script>
    var tags = ["c++", "java", "php", "coldfusion", "javascript", "asp", "ruby"];
    $("#autocomplete").autocomplete({
        source: function (request, response) {
            var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(request.term), "i");
            response($.grep(tags, function (item) {
                return matcher.test(item);
            }));
        }
    });
</script>*@

<div class="content-heading text-center">
    <!-- Input Your Home Content Here -->
    <div class="row text-center" style="min-height:667px;">
        <!-- contact form outer row with centered text-->
        <h2>THUÊ XE VIỆT NAM</h2>
        @*<h2><input type="button" value="DÀNH CHO KHÁCH ĐẶT THUÊ XE" class="btn btn-primary btn-info" onclick="show(1);" style="margin-bottom:5px;width:300px;font-weight:bold;" /></h2>
        <h2><input type="button" value="DÀNH CHO TÀI XẾ ĐĂNG KÝ XE" class="btn btn-primary btn-success" onclick="show(2);" style="margin-bottom:5px;width:300px;font-weight:bold;" /></h2>*@
        <h2>
            <a href='https://play.google.com/store/apps/details?id=com.quickcar.thuexe'>
                <img alt='Tải nội dung trên Google Play' src='/images/vi_badge_web_generic.png' style="width:270px;height:80px;" />
            </a>
        </h2>
        <h2>
            <a href="https://itunes.apple.com/us/app/thue-xe/id1166862903?ls=1&mt=8">
                <img src="/Images/appstore.svg" style="width:270px;height:80px;" />
            </a>
        </h2>
        <div class="col-sm-12">
            <div class="col-sm-9" >
                <input id="address" name="address" class="form-control" placeholder="Bạn đang ở đâu? Gõ địa chỉ muốn đón" autocomplete="on" />
                <input type="hidden" id="lon" name="lon" value="" />
                <input type="hidden" id="lat" name="lat" value="" />
            </div>
            <div class="col-sm-3" >
                <input type="button" value="TÌM XE" class="form-control btn btn-primary btn-block" style="background-color:#449d44;color:#ffffff;" onclick="search();" id="search" />
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-12" id="dv1" style="background-color:white;color:black;border-radius:25px;min-height:567px;border-right:1px solid #808080;display:none;">
                <h2 style="color:#337ab7;">ĐẶT THUÊ XE</h2>
                <p style="text-align:left;margin-top:5px;">Điểm đi*</p>
                <input id="car_from" name="car_from" class="form-control" placeholder="Điểm đi" autocomplete="on" />
                <input type="hidden" id="lon1" name="lon1" value="" />
                <input type="hidden" id="lat1" name="lat1" value="" />
                <p style="text-align:left;margin-top:5px;">Điểm đến*</p>
                <input id="car_to" name="car_to" class="form-control" placeholder="Điểm đến" autocomplete="on" />
                <input type="hidden" id="lon2" name="lon2" value="" />
                <input type="hidden" id="lat2" name="lat2" value="" />
                <p style="text-align:left;margin-top:5px;">Tên *</p>
                <input id="name" name="name" class="form-control" placeholder="Nhập tên" />
                <p style="text-align:left;margin-top:5px;">Số điện thoại *</p>
                <input id="phone" name="phone" class="form-control" placeholder="Nhập số điện thoại" />
                <p style="text-align:left;margin-top:5px;">Email </p>
                <input id="email" name="email" class="form-control" placeholder="Nhập email" />
                <p style="text-align:left;margin-top:5px;">Thời gian *</p>
                <input type="text" class="form-control" id=datetimepicker placeholder="Thời gian">
                
                <textarea class="form-control" id=des name="des" placeholder="Mô tả yêu cầu chi tiết" rows="3"></textarea>
                <input type="button" value="XÁC NHẬN" class="btn btn-primary btn-block" onclick="booking();" style="margin-bottom:5px;" id="btnregister1" />
            </div>
        </div><!-- end col 10 with offset 1 to centered -->
    </div> <!-- end contact form outer row with centered text-->
</div><!-- End Input Your Home Content Here -->
<script>
    $('#datetimepicker').datetimepicker({
        dayOfWeekStart: 1,
        lang: 'en',
        disabledDates: ['1986/01/08', '1986/01/09', '1986/01/10'],
        startDate: '@DateTime.Now.Year/@DateTime.Now.Month/@DateTime.Now.Date'
    });
    var d = new Date();
    var s = d.toLocaleString();
    $('#datetimepicker').datetimepicker({ value: s, step: 10 });
    
    $(function () {
        var options = {
            map: ".map_canvas"
        };
        $("#address").geocomplete(options)
          .bind("geocode:result", function (event, result) {
              $("#lon").val(result.geometry.location.lng());
              $("#lat").val(result.geometry.location.lat());
              //alert("long" + result.geometry.location.lng() + ", lat=" + result.geometry.location.lat());
          })
          .bind("geocode:error", function (event, status) {
              $.log("ERROR: " + status);
          })
          .bind("geocode:multiple", function (event, results) {
              $.log("Multiple: " + results.length + " results found");
          });
    });
   
    
  
    function search() {
        if (document.getElementById("lon").value == "") {
                    alert("Nhập địa chỉ muốn đón!");
                    document.getElementById("address").focus();
                    return;
        }
        window.location.href="/Home/Search?lon="+document.getElementById("lon").value+"&lat="+document.getElementById("lat").value;
    }
</script>

