@{
    ViewBag.title = "Dịch Vụ Cho Thuê Xe Giá Rẻ (UY TÍN NHẤT) tại Việt Nam | Thuexevn.com";
    ViewBag.des = "Tự hào là Công ty có Dịch vụ cho thuê xe ô tô uy tín chất lượng trong nhiều năm qua: Dịch vụ cho Thuê xe Hà Nội, Taxi đường dài giá rẻ, Taxi đi tỉnh";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.keywords = "Thuê xe việt nam";
    ViewBag.url = "http://thuexevn.com";
    string link = "";
}


@*<label for="autocomplete">Select a programming language: </label>
    <input id="autocomplete">
    <script>
        var tags = ["c++", "java", "php", "coldfusion", "javascript", "asp", "ruby"];
        $("#autocomplete").autocomplete({
            source: function (request, response) {
                var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(request.term), "i");
                response($.grep(tags, function (item) {
                    return matcher.test(item);
                }));
            }
        });
    </script>*@


@*@section sliderHome {

    <div id="divMainContent" style="height: auto;">
        <div id="divContentBody" class="container-fluid" style="min-height: 304px; padding: 0;">
            <div id="divBannerImages" class="home-banner" style="height: auto;">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                                <div id="form_timxe">
                                    <input id="address" name="address" class="form-control col-sm-3" placeholder="Bạn đang ở đâu? Gõ địa chỉ muốn đón" autocomplete="on" />
                                    <input type="hidden" id="lon" name="lon" value="" />
                                    <input type="hidden" id="lat" name="lat" value="" />
                                    <select id="car_type" class="form-control col-sm-3 bg-white" style="color: #fff;">
                                        <option value="">Chọn loại xe</option>
                                    </select>
                                    <select id="car_size" class="form-control col-sm-3 bg-white" style="color: #fff;">
                                        <option value="">Chọn số chỗ</option>
                                    </select>
                                    <input type="button" value="TÌM XE" class="form-control btn btn-primary btn-block" style="background-color:#449d44;color:#ffffff;" onclick="search();" id="search" />
                                </div>
                            </div>
                        <div class="col-md-12">
                            <div class="span5 about-carousel">
                                <div id="divBannerTextCarousel" class="carousel slide">
                                    <div id="divBannerTexts" class="carousel-inner custom_slider" style="margin-top: 19px; margin-bottom: 19px;">
                                        <div class="item active">
                                            <a class="highlight-1" target="_blank" href="#">Xe gia đình, xe của chúng mình</a>
                                        </div>
                                        <div class="item">
                                            <a class="highlight-1" target="_blank" href="#">Đặt xe <strong>Nhanh chóng</strong> Đơn giản</a>
                                        </div>
                                        <div class="item">
                                            <a class="highlight-1" target="_blank" href="#">Gọi xe <strong>QUANH ĐÂY</strong> với ứng dụng  <strong>THÔNG MINH</strong></a>
                                        </div>
                                        <div class="item">
                                            <a class="highlight-1" target="_blank" href="#">Hãng xe đẹp <strong>MỚI</strong> và  <strong>LỊCH SỰ </strong></a>
                                        </div>
                                        <div class="item">
                                            <a class="highlight-1" target="_blank" href="#">Cài ngay <strong>Ứng dụng Thuê Xe Vn</strong></a>
                                        </div>
                                        <div class="item">
                                            <a class="highlight-1" target="_blank" href="#">Hoặc gọi <strong>0964108688</strong> để đặt xe</a>
                                        </div>
                                    </div>

                                    <ul id="download" style="padding-left: 0; display: inline-flex; height: 200px;">
                                        <li style="margin-bottom: 5px;">
                                            <a href='https://play.google.com/store/apps/details?id=com.quickcar.thuexe'>
                                                <img class="img-responsive img-c1" alt='Tải nội dung trên Google Play' src='/images/vi_badge_web_generic.png' />
                                            </a>
                                        </li>
                                        <li style="margin-bottom: 5px;">
                                            <a href="https://itunes.apple.com/us/app/thue-xe/id1166862903?ls=1&mt=8">
                                                <img class="img-responsive img-c1" src="/Images/appstore.svg" />
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}*@

<div id="timtaixe_search" class="homepage-bg-desktop">
    <div class="container homepage">
        <section class="introduction">

            <h1 class="introduction__heading">Dịch vụ cho thuê xe giá rẻ (uy tín nhất) tại Việt Nam</h1>
            <h2 class="introduction__strapline">
                <!-- react-text: 43 -->Gọi xe quanh đây với ứng dụng <span style="cursor: pointer; border-bottom: 1px dashed white;">thông minh</span>,
                <!-- react-text: 45 -->&nbsp; đặt xe&nbsp;<span style="cursor: pointer; border-bottom: 1px dashed white;">Nhanh chóng</span> Đơn giản,
                &nbsp; hãng xe đẹp mới và lịch sự.
                <!-- /react-text -->
            </h2>
        </section>
        
        <div class="booking-homepage" id="bookingForm">
            <form id="bookingFormFrm" class="form-horizontal">
                <fieldset>
                    <div class="title">
                        <h2 class="headding"><i class="fa fa-car"></i> Tìm kiếm tài xế</h2>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            @*<label class="control-label" for="place_from">Địa điểm đi:</label>*@
                            <div class="field_row">
                                <input type="text" class="form-control" name="place_from" id="place_from" placeholder="Địa điểm từ">
                                <i class="fa fa-map-marker" id="getmaplocation"></i>
                                
                            </div>
                            <input type="hidden" name="lat1" id="lat1" />
                            <input type="hidden" name="lng1" id="lng1" />
                           
                        </div>
                        <div class="col-md-5">
                            @*<label class="control-label" for="place_to">Địa điểm đến:</label>*@
                            <div class="field_row">
                                <input type="text" class="form-control" name="place_to" id="place_to" placeholder="Địa điểm đến" onchange="showaddsearch();">
                                <i id="movemaplocation" onclick="swapValues();" class="fa fa-exchange"></i>
                            </div>
                            <input type="hidden" name="lat2" id="lat2" />
                            <input type="hidden" name="lng2" id="lng2" />
                        </div>

                        <div class="col-md-1">
                            @*<label class="control-label" for="place_to">Thêm</label>*@
                            <button class="btn btn-primary btn-sm" onclick="addsearch(event);"><i class="fa fa-plus"></i></button>

                        </div>

                    </div>
                    <div id="addoptions" style="display: none;">

                        <div class="form-group">
                            <div class="col-md-6">
                                @*<label for="Loaixe_socho" class="control-label">Loại xe</label>*@
                                <select class="form-control mb2" name="Loaixe_socho" id="Loaixe_socho">
                                    <option value="">Tất cả loại xe</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                @*<label for="nhaxe" class="control-label">Nhà xe</label>*@
                                <select class="form-control mb2" name="nhaxe" id="nhaxe">
                                    <option value="">Chọn nhà xe</option>
                                    <option value="1">Nhà xe (đã xác thực thông tin)</option>
                                    <option value="0">Tài xế</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </fieldset>               

                <button class="btn btn-block btn-default border_radius_none" onclick="timkiemtaixe(event);" id="btn_search_taixe"><i class="fa fa-search"></i> Bắt đầu tìm kiếm</button>
                
            </form>

            

        </div>
     
    </div>
</div>


@{Html.RenderAction("Loadhotdeal");}

<section id="experiecess" class="fun_home_page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="list-group">

                    <a href="#" class="list-group-item active" style="pointer-events: none;">
                        <h3>
                            <i class="fa fa-search-plus"></i> Các chuyến đi thông dụng nhất
                        </h3>
                    </a>
                    <a href="http://thuexevn.com/Home/TimTaiXe?lat1=21.0277644&lng1=105.83415979999995&lat2=20.6041258&lng2=105.76445960000001&from=Hà%20Nội&to=Hương%20Sơn,%20Hà%20Nội&loaixe=16&kc=67,5" class="list-group-item">
                        <div class="item__card">
                            <div class="location hidden-xs">
                                <div class="from"><h4>Từ: Hà Nội</h4></div>
                                <div class="to"><h4>Đến: Chùa Hương</h4></div>
                                <div class="next"><h4>Xe 16 chỗ</h4></div>
                            </div>
                            <div class="location visible-xs">
                                <p>Từ Hà Nội - đến Chùa Hương - xe 16 chỗ</p>
                            </div>
                            <div class="price"><i class="fa fa-search"></i>&nbsp;356</div>
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </a>
                    <a href="http://thuexevn.com/Home/TimTaiXe?lat1=21.0277644&lng1=105.83415979999995&lat2=20.2781054&lng2=105.85816109999996&from=H%C3%A0%20N%E1%BB%99i&to=B%C3%A1i%20%C4%90%C3%ADnh%20-%20C%C3%BAc%20Ph%C6%B0%C6%A1ng,%20Ninh%20B%C3%ACnh&loaixe=16&kc=95,6" class="list-group-item">
                        <div class="item__card">
                            <div class="location hidden-xs">
                                <div class="from"><h4>Từ: Hà Nội</h4></div>
                                <div class="to"><h4>Đến: Tràng an, Ninh Bình</h4></div>
                                <div class="next"><h4>Xe 16 chỗ</h4></div>
                            </div>
                            <div class="location visible-xs">
                                <p>Từ Hà Nội - đến Tràng An - xe 16 chỗ</p>
                            </div>
                            <div class="price"><i class="fa fa-search"></i>&nbsp;351</div>
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </a>

                    <a href="http://thuexevn.com/Home/TimTaiXe?lat1=21.0277644&lng1=105.83415979999995&lat2=20.91005119999999&lng2=107.18390239999997&from=H%C3%A0%20N%E1%BB%99i&to=V%E1%BB%8Bnh%20H%E1%BA%A1%20Long,%20Tu%E1%BA%A7n%20Ch%C3%A2u,%20Qu%E1%BA%A3ng%20Ninh,%20Vi%E1%BB%87t%20Nam&loaixe=16&kc=182" class="list-group-item">
                        <div class="item__card">
                            <div class="location hidden-xs">
                                <div class="from"><h4>Từ: Hà Nội</h4></div>
                                <div class="to"><h4>Đến: Vịnh Hạ Long</h4></div>
                                <div class="next"><h4>Xe 16 chỗ</h4></div>
                            </div>
                            <div class="location visible-xs">
                                <p>Từ: Hà Nội - đến Vịnh Hà Long - xe 16 chỗ</p>
                            </div>
                            <div class="price"><i class="fa fa-search"></i>&nbsp;266</div>
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </a>

                    <a href="http://thuexevn.com/Home/TimTaiXe?lat1=10.8230989&lng1=106.6296638&lat2=10.4113797&lng2=107.13622399999997&from=S%C3%A0i%20G%C3%B2n,%20H%E1%BB%93%20Ch%C3%AD%20Minh,%20Vi%E1%BB%87t%20Nam&to=V%C5%A9ng%20T%C3%A0u,%20B%C3%A0%20R%E1%BB%8Ba%20-%20V%C5%A9ng%20T%C3%A0u,%20Vi%E1%BB%87t%20Nam&loaixe=16&kc=95,9" class="list-group-item">
                        <div class="item__card">
                            <div class="location hidden-xs">
                                <div class="from"><h4>Từ: TP. Hồ Chí Minh</h4></div>
                                <div class="to"><h4>Đến: Vũng Tàu</h4></div>
                                <div class="next"><h4>Xe 16 chỗ</h4></div>
                            </div>
                            <div class="location visible-xs">
                                <p>TP. Hồ Chí Minh - đến Vũng Tàu - xe 16 chỗ</p>
                            </div>
                            <div class="price"><i class="fa fa-search"></i>&nbsp;116</div>
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </a>                    

                </div>
            </div>
        </div>
    </div>

</section>

@*<div class="content-heading text-center">
        <!-- Input Your Home Content Here -->
        <div class="row text-center" style="min-height:667px;">
            <!-- contact form outer row with centered text-->
            <h2>THUÊ XE VIỆT NAM</h2>
            <h2>
                <a href='https://play.google.com/store/apps/details?id=com.quickcar.thuexe'>
                    <img alt='Tải nội dung trên Google Play' src='/images/vi_badge_web_generic.png' style="width:270px;height:80px;" />
                </a>
            </h2>
            <h2>
                <a href="https://itunes.apple.com/us/app/thue-xe/id1166862903?ls=1&mt=8">
                    <img src="/Images/appstore.svg" style="width:270px;height:80px;" />
                </a>
            </h2>
            <div class="col-sm-12">

            </div>

        </div> <!-- end contact form outer row with centered text-->
    </div><!-- End Input Your Home Content Here -->*@

@*@{Html.RenderAction("LoadNewTop");}*@



@*@{Html.RenderAction("LoadBooking");}*@

@*@Html.Partial("_mh_show_carrental")*@

@*@Html.Partial("_LoadBooking")*@

<section class="mh_show_customer_best">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="kf_num_count_wrap">
                    <i class="fa fa-car"></i>
                    <a href="#" class="hidden-xs"><h2 class="counter">156</h2> Số tài xế</a>
                    <a href="#" class="visible-xs"><b>156</b> <span>Số tài xế</span></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="kf_num_count_wrap">
                    <i class="fa fa-phone"></i>
                    <a href="#" class="hidden-xs"><h2 class="counter">1261</h2> Số cuộc gọi</a>
                    <a href="#" class="visible-xs"><b>1261</b> <span>Số cuộc gọi</span></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="kf_num_count_wrap">
                    <i class="fa fa-users"></i>
                    <a href="#" class="hidden-xs">
                        <h2 class="counter">912</h2> Số khách hàng
                    </a>
                    <a href="#" class="visible-xs"><b>912</b> <span>Số khách hàng</span></a>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="comment-customers" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-6 lead text-justify" style="padding: 0;">
                <div id="gioithieu" style="padding: 15px; color: #333; border-radius: 11px;">
                    <p style="text-indent: 15px;">
                        Tự hào là đơn vị cung cấp dịch vụ <strong>cho thuê xe</strong> uy tín chất lượng hàng đầu tại Việt Nam trong nhiều năm qua.
                        Chúng tôi luôn cam kết với khách hàng dịch vụ thuê xe bảo đảm cả về 3 yếu tố: Chất lượng, giá cả và dịch vụ.
                    </p>
                    <p>
                        <strong>Về chất lượng: </strong>Công ty cam kết chất lượng về xe và tài xế lái xe. Nhân viên lái xe được đào tạo và thực hành bài bản kỹ thuật lái xe cũng như thái độ nhã nhặn, chu đáo đối với khách hàng.
                    </p>
                    <p>
                        <strong>Về giá cả: </strong>Bảo đảm giá cho thuê xe rẻ nhất, xe không mào, không dán logo.
                    </p>
                    <p>
                        <strong>Về dịch vụ: </strong>Cam kết dịch vụ chu đáo, nhanh chóng, tận tình. Chúng tôi đáp ứng yêu cầu cho khách hàng ở mọi nơi với đa dạng tất cả các loại xe như: Cho thuê xe du lịch, taxi đường dài giá rẻ, cho thuê xe 4 chỗ, 7 chỗ, 9 chỗ, 16 chỗ, 29 chỗ,… sang trọng mới mẻ. Dịch vụ 24/7 kể cả ngày nghỉ, ngày lễ.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="col-md-8 col-md-push-2">
                            <div class="avatar">
                                <img src="/Images/comment_nguyenviethuy.png" alt="Anh Nguyễn Viết Huy">
                            </div>
                            <p class="avt-cmt">
                                Anh Viết Huy
                            </p>
                            <p class="comment">
                                Xe mới, chất lượng dịch vụ tốt!
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="col-md-8 col-md-push-2">
                            <div class="avatar">
                                <img src="/Images/comment_chithuydung.png" alt="Chị Thùy Nhung">
                            </div>
                            <p class="avt-cmt">
                                Chị Thùy Nhung
                            </p>
                            <p class="comment">
                                Tài xế chu đáo, thân thiện!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="map-canvas" style="display: none;">
    Bản đồ
</div>
<div class="map_canvas" style="display:none;"></div>

@section Scripts {
    @*<script>
        if (location.protocol != 'https:') {
            location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
        }
    </script>*@
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    @*<script src="~/Scripts/waypoints.min.js"></script>*@
    <script src="~/Scripts/jquery.counterup.min.js"></script>
    @*<script type="text/javascript" src="~/Content/Theme/1a/js/owl.carousel.js"></script>*@<!-- Owl Carousel Plugin -->
    @*<script src="~/Content/Theme/admin/vendor/datatable/jquery.dataTables.min.js"></script>*@
    @*<script src="~/Content/Theme/admin/vendor/datatable/dataTables.bootstrap.min.js"></script>*@
    @*<script src="/Scripts/jquery.geocomplete.js"></script>*@
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLPSKQ4QV4xGiQjnZDUecx-UEr3D0QePY&libraries=places&region=vn&language=vi" type="text/javascript"></script>
    @Scripts.Render("~/Scripts/main")
    @*<script src="~/Scripts/script2.js"></script>*@

    @*<script>        
        $(function () {
            var options = {
                map: ".map-canvas"
            };
            $("#address").geocomplete(options)
              .bind("geocode:result", function (event, result) {
                  $("#lon").val(result.geometry.location.lng());
                  $("#lat").val(result.geometry.location.lat());
                  //alert("long" + result.geometry.location.lng() + ", lat=" + result.geometry.location.lat());
              })
              .bind("geocode:error", function (event, status) {
                  $.log("ERROR: " + status);
              })
              .bind("geocode:multiple", function (event, results) {
                  $.log("Multiple: " + results.length + " results found");
              });
        });
    </script>*@

    <script>
        function addsearch(e) {
            e.preventDefault();
            $('#addoptions').slideToggle('300');
        }

        function showaddsearch() {
            $('#addoptions').slideDown('300');
        }
    </script>
}

