@model PagedList.IPagedList<ThueXeVn.Models.driver_rate_comment>
@using PagedList.Mvc;
@{
    Layout = null;
}
<div class="col-md-8">
    <div class="comment_driver">
        <h3>Danh sách nhận xét</h3>
        <ul id="content">
            @foreach (var item in Model)
            {
                <li>@item.cus_name</li>
            }
        </ul>
        <div id="contentPager">
            @Html.PagedListPager(Model, page => Url.Action("LoadCommentDriver", new {  page }))
        </div>
    </div>
</div>

