
@{
    ViewBag.Title = "Price";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table {
        width:100%;
        border:1px solid #808080;
    }
    th,td{
        border:1px solid #808080;
        padding:2px 2px 2px 2px;
    }
</style>
<div class="col-sm-12" id="dv1" style="background-color:white;color:black;border-radius:25px;min-height:567px;border-right:1px solid #808080;">
    <h2>BẢNG GIÁ THUÊ XE VIỆT NAM THAM KHẢO</h2>
    <h3>* Giá đi Hà Nội -> Các tỉnh lân cận dao động từ 8.500 đ đến 10.000 đ trên 1km</h3>
    <h3>* Lưu ý khi đi 02 chiều từ Hà Nội đến các tỉnh lân cận thì chiều về giảm giá 80%</h3>
    <h3>Tuyến Hà Nội - Nội Bài xe 4 chỗ</h3>
    <table>
        <tr><th>Điểm đi </th><th>Điểm đến</th><th>Giá</th></tr>
        <tr><td>Bắc Từ Liêm Hà Nội </td><td> Nội Bài</td><td>200.000 đ</td></tr>
        <tr><td>Cầu Giấy Hà Nội </td><td> Nội Bài</td><td>200.000 đ</td></tr>
        <tr><td>Hoàn Kiếm Hà Nội </td><td> Nội Bài</td><td>200.000 đ</td></tr>
        <tr><td>Tây Hồ Hà Nội </td><td> Nội Bài</td><td>200.000 đ</td></tr>
        <tr><td>Gia Lâm Hà Nội </td><td> Nội Bài</td><td>200.000 đ</td></tr>
        <tr><td>Hà  Đông Hà Nội </td><td> Nội Bài</td><td>220.000 -> 250.000</td></tr>
        <tr><td>Minh Khai Hà Nội </td><td> Nội Bài</td><td>220.000 -> 250.000</td></tr>
        <tr><td>Hoàng Mai Hà Nội </td><td> Nội Bài</td><td>220.000 -> 250.000</td></tr>
    </table>
    <h3>Tuyến Nội Bài - Hà Nội xe 4 chỗ</h3>
    <table>
        <tr><th>Điểm đi </th><th>Điểm đến</th><th>Giá</th></tr>
        <tr><td> Nội Bài</td><td>Bắc Từ Liêm Hà Nội </td><td>300.000 đ</td></tr>
        <tr><td> Nội Bài</td><td>Cầu Giấy Hà Nội </td><td>300.000 đ</td></tr>
        <tr><td> Nội Bài</td><td>Hoàn Kiếm Hà Nội </td><td>300.000 đ</td></tr>
        <tr><td> Nội Bài</td><td>Tây Hồ Hà Nội </td><td>300.000 đ</td></tr>
        <tr><td> Nội Bài</td><td>Gia Lâm Hà Nội </td><td>300.000 đ</td></tr>
        <tr><td> Nội Bài</td><td>Hà  Đông Hà Nội </td><td>330.000 -> 350.000</td></tr>
        <tr><td> Nội Bài</td><td>Minh Khai Hà Nội </td><td>330.000 -> 350.000</td></tr>
        <tr><td> Nội Bài</td><td>Hoàng Mai Hà Nội </td><td>330.000 -> 350.000</td></tr>
    </table>
    <h3>Bảng giá thuê xe Fotuner 7 chỗ</h3>
    <table>
        <tr><th>Điểm đi </th><th>Điểm đến</th><th>Giá</th></tr>
        <tr><td>Hà Nội </td><td> Nội Bài</td><td>250.000 đ</td></tr>
        <tr><td>Nội Bài </td><td> Hà Nội</td><td>350.000 đ</td></tr>
        <tr><td>Hà Nội </td><td> Nội Bài (2 chiều)</td><td>600.000 đ</td></tr>
        <tr><td>Hà Nội </td><td> Các tỉnh</td><td>10.000 đến 11000 trên 1km</td></tr>
        <tr><td>Hà Nội </td><td> Tham quan cả ngày</td><td>1.200.000 đến 1.500.000 đ</td></tr>
    </table>
    <h3>Bảng giá thuê xe 16 chỗ</h3>
    <table>
        <tr><th>Điểm đi </th><th>Điểm đến</th><th>Giá</th></tr>
        <tr><td>Hà Nội </td><td> Nội Bài</td><td>300.000 đến 400.000</td></tr>
        <tr><td>Nội Bài </td><td> Hà Nội</td><td>550.000 đ đến 700.000</td></tr>
        <tr><td>Hà Nội </td><td> Nội Bài (2 chiều)</td><td>850.000 đến 900.000 đ</td></tr>
        <tr><td>Hà Nội </td><td> Các tỉnh</td><td>10.000 đến 11000 trên 1km</td></tr>
        <tr><td>Hà Nội </td><td> Tham quan cả ngày</td><td>1.300.000 đến 1.700.000 đ</td></tr>
    </table>
    <h3>Tham khảo thêm các bảng giá bên dưới</h3>
    <img src="~/Content/Images/banggia.jpg" />
</div>