@model PagedList.IPagedList<ThueXeVn.Models.timkiemDrivers>
@using PagedList.Mvc;

@{
    string url = Request.Url.Authority + HttpContext.Current.Request.RawUrl.ToString();
    if (Request.ServerVariables["HTTPS"] == "on")
    {
        url = "https://" + url;
    }
    else
    {
        url = "http://" + url;
    }
}

@{

    Layout = "~/Views/Shared/_LayoutContent.cshtml";
    ViewBag.title = "Tìm tài xế";
    ViewBag.des = "Bảng giá thuê xe tài xế";
    ViewBag.keywords = "";
    ViewBag.url = @url;

}

@{
    double kc_timkiem = 1;
    if (ViewBag.kc_timkiem != null)
    {
        kc_timkiem = Convert.ToDouble(ViewBag.kc_timkiem);
    }
}

<link href="~/Content/style1.css" rel="stylesheet" />

<div id="timtaixe">
    <div class="row">
        <div class="col-sm-4" id="form_search_taxe">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Tìm kiếm tài xế
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label" for="place_from">Địa điểm từ</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="place_from" id="place_from" placeholder="Địa điểm từ">
                                    <span class="input-group-addon" id="getmaplocation" style="padding: 14px 15px;"><i class="fa fa-map-marker"></i></span>
                                    <input type="hidden" name="lat1" id="lat1" />
                                    <input type="hidden" name="lng1" id="lng1" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label" for="place_to">Địa điểm tới</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="place_to" id="place_to" placeholder="Địa điểm tới">
                                    <span class="input-group-addon" id="movemaplocation"><i class="fa fa-exchange"></i></span>
                                    <input type="hidden" name="lat2" id="lat2" />
                                    <input type="hidden" name="lng2" id="lng2" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="Loaixe_socho" class="control-label">Loại xe</label>
                                <select class="form-control" name="Loaixe_socho" id="Loaixe_socho">
                                    <option value="">Chọn loại xe</option>
                                    <option value="4">Xe 4 chỗ</option>
                                    <option value="7">Xe 7 chỗ</option>
                                    <option value="16">Xe 16 chỗ</option>
                                    <option value="29">Xe 29 chỗ</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-block btn-default color_button_stx" onclick="timkiemtaixe();"><i class="fa fa-search"></i> Cập nhật tìm kiếm</button>
                </div>
            </div>

        </div>
        <div class="col-sm-8" id="result_taixe">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Kết quả</h3>
                </div>
                <div class="panel-body list-group">
                    @if (Model != null)
                    {
                        if (Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                double giaTaiXe = 1;
                                if (item.cp_price2 != null)
                                {
                                    double d_gia = Convert.ToDouble(item.cp_price2);
                                    giaTaiXe *= kc_timkiem * d_gia;
                                }
                                else if(item.cp_price != null)
                                {
                                    double d_gia = Convert.ToDouble(item.cp_price);
                                    giaTaiXe *= kc_timkiem * d_gia;
                                }
                                
                                <div class="row results_card mco_out">
                                    <div class="col-xs-6 col-md-7">
                                        <section class="col-xs-12 col-md-6 pho_information">
                                            <h4>@item.name</h4>
                                            <div class="rating-star-box" title="This provider has received 4.5 stars out of 5 based on customer reviews">
                                                @if (item.DiffDate <= 7)
                                                {
                                                    <i class="fa fa-star color_stx"></i>
                                                    <i class="fa fa-star color_stx"></i>
                                                    <i class="fa fa-star color_stx"></i>
                                                    <i class="fa fa-star color_stx"></i>
                                                    <i class="fa fa-star color_stx"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-star color_stx"></i>
                                                    <i class="fa fa-star color_stx"></i>
                                                    <i class="fa fa-star color_stx"></i>
                                                    <i class="fa fa-star color_stx"></i>
                                                    <i class="fa fa-star"></i>
                                                }                                                
                                            </div>
                                            @if (item.address != null)
                                            {
                                                <p class="pho-location"><i class="fa fa-map-marker"></i>&nbsp;@item.address</p>
                                            }
                                            
                                        </section><section class="col-xs-12 col-md-6 filters"></section>
                                    </div>
                                    <div class="col-xs-6 col-md-5">
                                        <section class="col-xs-12 col-md-6 price_container">
                                            <div>
                                                <p id="price" class="price">
                                                    @if (giaTaiXe != 1)
                                                    {
                                                        <text>@string.Format("{0:#,###} Đồng.", giaTaiXe)</text>
                                                    }
                                                </p>
                                            </div>
                                        </section>
                                        <section class="col-xs-12 col-md-6 continue_button">
                                            <a href="tel:@item.phone" class="btn btn-default color_button_stx"><i class="fa fa-phone"></i> Gọi ngay</a>
                                        </section>
                                    </div>
                                </div>
                            }
                            
                            @Html.PagedListPager(Model, page => Url.Action("TimTaiXe", "Home", new { pg = page, lat1 = ViewBag.lat1, lng1 = ViewBag.lng1, lat2 = ViewBag.lat2, lng2 = ViewBag.lng2, from = ViewBag.from, to = ViewBag.to, loaixe = ViewBag.loaixe }), PagedListRenderOptions.OnlyShowFivePagesAtATime)

                        }
                        else
                        {
                            <div class="row results_card mco_out">
                                Không có tài xế nào.
                            </div>
                        }
                        
                    }
                    else
                    {
                        <div class="row results_card mco_out">
                            Không có tài xế nào.
                        </div>
                    }

                </div>
            </div>


        </div>

    </div>
</div>

<div id="map-canvas" style="display: none;">
    Bản đồ
</div>

@section scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLPSKQ4QV4xGiQjnZDUecx-UEr3D0QePY&libraries=places" type="text/javascript"></script>
    <script src="/Scripts/jquery.geocomplete.js"></script>
    <script>
        $(document).ready(function () {
            $('#getmaplocation').tooltip({
                placement: 'left',
                title: 'Lấy vị trí hiện tại'
            })
            $('#movemaplocation').tooltip({
                placement: 'left',
                title: 'Di chuyển địa điểm'
            });

            var options = {
                map: "#map-canvas"
            };
            $("#place_from").geocomplete(options)
          .bind("geocode:result", function (event, result) {
              $("#lat1").val(result.geometry.location.lat());
              $("#lng1").val(result.geometry.location.lng());
              //alert("long" + result.geometry.location.lng() + ", lat=" + result.geometry.location.lat());
          })
          .bind("geocode:error", function (event, status) {
              $.log("ERROR: " + status);
          })
          .bind("geocode:multiple", function (event, results) {
              $.log("Multiple: " + results.length + " results found");
          });

            $("#place_to").geocomplete(options)
              .bind("geocode:result", function (event, result) {
                  $("#lat2").val(result.geometry.location.lat());
                  $("#lng2").val(result.geometry.location.lng());
                  //alert("long" + result.geometry.location.lng() + ", lat=" + result.geometry.location.lat());
              })
              .bind("geocode:error", function (event, status) {
                  $.log("ERROR: " + status);
              })
              .bind("geocode:multiple", function (event, results) {
                  $.log("Multiple: " + results.length + " results found");
              });
        });

        function timkiemtaixe() {
            if (document.getElementById('lat1').value === "" && document.getElementById('lng1').value === "") {
                alert('Vui lòng nhập địa chỉ từ');
                document.getElementById('place_from').focus();
                return false;
            }
            if (document.getElementById('lat2').value === "" && document.getElementById('lng2').value === "") {
                alert('Vui lòng nhập địa chỉ tới');
                document.getElementById('place_to').focus();
                return false;
            }

            if (document.getElementById('Loaixe_socho').value === "") {
                alert('Vui lòng chọn loại xe');
                document.getElementById('Loaixe_socho').focus();
                return false;
            }

            var directionsDisplay = new google.maps.DirectionsRenderer;
            var directionsService = new google.maps.DirectionsService;

            var selectedMode = "DRIVING";
            var khoangcach = "";
            var latlng1 = new google.maps.LatLng(document.getElementById('lat1').value, document.getElementById('lng1').value);
            var latlng2 = new google.maps.LatLng(document.getElementById('lat2').value, document.getElementById('lng2').value);
            directionsService.route({
                origin: latlng1,  // Diem di.
                destination: latlng2,  // Diem den
                // Note that Javascript allows us to access the constant
                // using square brackets and a string value as its
                // "property."
                travelMode: google.maps.TravelMode[selectedMode]
            }, function (response, status) {
                if (status == 'OK') {
                    directionsDisplay.setDirections(response);
                    console.log(response);
                    khoangcach = response.routes[0].legs[0].distance.text.replace(" km", "");


                    var url = "/Home/TimTaiXe";
                    url += "?lat1=" + document.getElementById('lat1').value + "&lng1=" + document.getElementById('lng1').value + "&lat2=" + document.getElementById('lat2').value + "&lng2=" + document.getElementById('lng2').value;
                    url += "&from=" + document.getElementById('place_from').value + "&to=" + document.getElementById('place_to').value;
                    url += "&loaixe=" + document.getElementById('Loaixe_socho').value + "&kc=" + khoangcach;

                    window.location.href = url;
                    //alert(khoangcach);


                } else {
                    window.alert('Vui lòng nhập lại địa chỉ ' + status);
                }
            });
        }


    </script>

}